th{
  text-align: center;
}

td{
  text-align: center;
}

img{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 25px;
}

span{
  color: #141414;
  margin:auto;
}
